@import "tailwindcss";

@custom-variant visible (&:where(.visible, .visible *));


@font-face {
    font-family: "Druk Text Wide Su Trial";
    src: url("./assets/font/Druk-Bold-Trial.otf");
}

@font-face {
    font-family: "BebasNeue";
    src: url("./assets/font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Josefin Sans Medium";
    src: url("./assets/font/JosefinSans-Medium.ttf");
}

@theme{
    --color-primary: #3115E8;
    --color-secondary: #FFFCEC;
    --font-druk: "Druk Text Wide Su Trial";
    --font-josefin: "Josefin Sans Medium";
    --font-bebasneue: "BebasNeue";
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Light mode */
::-webkit-scrollbar-track {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
    background: #FFFCEC;
    border: 1px black solid;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a3bffa;
}


@theme {
    --animate-rightslide: RightSlide 20s infinite linear;
    @keyframes RightSlide {
        from {
            translate: 0;
        }
        to {
            translate: -100%;
        }
    }

    --animate-leftslide: LeftSlide 20s infinite linear;
    @keyframes LeftSlide {
        from {
            translate: -100%;
        }
        to {
            translate: 0;
        }
    }
}
