@import "tailwindcss";

@custom-variant visible (&:where(.visible, .visible *));
@custom-variant rhombus (&:where(.rhombus, .rhombus *));
@custom-variant oppositeRhombus (&:where(.oppositeRhombus, .oppositeRhombus *));

.rhombus {
    height: 200px; /* adjust to control the size  */
    aspect-ratio: 6/3;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
}

.oppositeRhombus {
    height: 200px; /* adjust to control the size  */
    aspect-ratio: 6/3;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}

@font-face {
    font-family: "Druk Text Wide Su Trial";
    src: url("./assets/font/Druk-Bold-Trial.otf");
}

@font-face {
    font-family: "BebasNeue";
    src: url("./assets/font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Josefin Sans Medium";
    src: url("./assets/font/JosefinSans-Medium.ttf");
}

@theme{
    --color-primary: #3115E8;
    --color-secondary: #FFFCEC;
    --font-druk: "Druk Text Wide Su Trial";
    --font-josefin: "Josefin Sans Medium";
    --font-bebasneue: "BebasNeue";
}

* {
    scroll-behavior: smooth;
}

@layer base {
    .skills ::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    :root ::-webkit-scrollbar {
        width: 6px;
    }

    /* Light mode */
    :root ::-webkit-scrollbar-track {
        background: var(--color-primary);
    }

    :root ::-webkit-scrollbar-thumb {
        background: #FFFCEC;
        border: 1px black solid;
        border-radius: 10px;
    }

    :root ::-webkit-scrollbar-thumb:hover {
        background: lightblue;
    }
}

@theme {
    --animate-rightslide: RightSlide 20s infinite linear;
    @keyframes RightSlide {
        from {translate: 0;}
        to {translate: -100%;}
    }

    --animate-leftslide: LeftSlide 20s infinite linear;
    @keyframes LeftSlide {
        from {translate: -100%;}
        to {translate: 0;}
    }
}
