@import "tailwindcss";

@custom-variant visible (&:where(.visible, .visible *));


@font-face {
    font-family: "Druk Text Wide Su Trial";
    src: url("./assets/font/Druk-Bold-Trial.otf");
}

@font-face {
    font-family: "BebasNeue";
    src: url("./assets/font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Josefin Sans Medium";
    src: url("./assets/font/JosefinSans-Medium.ttf");
}

@theme{
    --color-primary: #3115E8;
    --color-secondary: #FFFCEC;
    --font-druk: "Druk Text Wide Su Trial";
    --font-josefin: "Josefin Sans Medium";
    --font-bebasneue: "BebasNeue";
}

* {
    scroll-behavior: smooth;
}

@layer base {
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Light mode */
    ::-webkit-scrollbar-track {
        background: var(--color-primary);
    }

    ::-webkit-scrollbar-thumb {
        background: #FFFCEC;
        border: 1px black solid;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: lightblue;
    }
}
